h2{
  color: lime; 
  text-decoration: none;
  text-align: center;
}
  
body{
  background-color: blueviolet;
  font-family: 'Mochiy Pop P One', sans-serif;
}
  
a{
  text-decoration: underline;
  text-align: left;
}

h3{
  /* color: black; */
  text-decoration: none;
}

td{
  text-align: center;
}

#common{
  color: grey
}

#uncommon{
  color: green
}

#rare{
  color: blue
}

#epic{
  color: purple
}

#legendary{
  color: orange
}

.mythic{
  color: gold
}