img{
    width: 150px;
    height: 150px
  }

@font-face{
    font-family: 'Minecraft';
    src: url('./minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

t{
  font-family: 'Minecraft';
}