img{
    width: 150px;
    height: 150px
  }

@font-face{
    font-family: Minecraft;
    font-weight: normal;
    font-style: normal;
    src: local('Minecraft'), url('minecraft.ttf') format('truetype');
}